{% extends 'djangorealidm/base.html' %}
{% block content %}


{% if grant_list %}
<table class="table" style="width:100%">
      <thead>
  <tr>
    <th>Username</th>
    <th>Group</th>
      <th>Role</th>
    <th>Status</th>
    <th>Last status approved by</th>
      <th>Approval datetime</th>
  </tr>
      </thead>
    {% for grant in grant_list %}
        <tr>
            <td>{{grant.grant.user}}</td>
            <td>{{grant.grant.group}}</td>
            <td>{{grant.grant.role}}</td>
            <td>{{grant.transition.destination_state.slug}}</td>
            <td>{{grant.approver}}</td>
            <td>{{grant.datetime}}</td>
        </tr>
    {% endfor %}
</table>
{% else %}
    <p>No data are available.</p>
{% endif %}
<a href="{% url 'history-report' %}?csv=true">Download as CSV</a>
{% endblock %}
